.container {
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
  padding: 25px;
  background-color: #fff;
  border: 1px solid #eaeaea;
  margin: 10px;
  font-family: 'Inter',-apple-system,BlinkMacSystemFont,'Segoe UI','Roboto','Oxygen','Ubuntu','Cantarell','Fira Sans','Droid Sans','Helvetica Neue',sans-serif;
}

.body {
  background-color: #fafafa;
  background-image: radial-gradient(#ddd 1px,transparent 0), radial-gradient(#ddd 1px,transparent 0);
  background-position: 0 0,25px 25px;
  background-size: 50px 50px;
}

.header1 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 20px;
  letter-spacing: -.029375rem;
}

.input {
  cursor: pointer;
  border: 1px solid #eaeaea;
  margin-bottom: 20px;
  border-radius: 5px;
  min-width: auto;
  line-height: 0;
  font-size: 0.875rem;
  padding: 6px 12px;
  outline: none;
  width: 100%;
  margin-top: 20px;
}

.input:focus {
  border-color: #000;
}

.button {
  cursor: pointer;
  border: 1px solid #971c45;
  min-width: auto;
  font-size: 0.875rem;
  padding: 6px 12px;
  border-radius: 5px;
  background-color: #fc3074;
  color: #fff;
}

.button:hover {
  background-color: #fff;
  color: #fc3074;
  border-color: #fc3074;
}

.success {
  margin-top: 20px;
  color: #23c552;
  min-height: 21px;
}

.generation {
  flex-basis: 50%;;
}

.longButton {
  cursor: pointer;
  border: 1px solid #eaeaea;
  min-width: auto;
  font-size: 0.875rem;
  padding: 6px 12px;
  border-radius: 5px;
  display: block;
  color: #666;
  text-align: center;
}

.longButton:hover {
  border-color: #000;
  color: #000;
}

.buttonText {
  font-size: 14px;
}

.description {
  color: #444;
  font-size: .875em;
  font-weight: 600;
}

.sample {
  color: #444;
  font-size: .875em;
  margin-bottom: 20px;
  font-weight: 600;
}

.main {
  max-width: 1048px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.textarea {
  cursor: pointer;
  border: 1px solid #eaeaea;
  margin-bottom: 20px;
  border-radius: 5px;
  min-width: auto;
  font-size: 0.875rem;
  padding: 6px 12px;
  outline: none;
  width: 100%;
  margin-top: 20px;
  font-family: inherit;
  resize: none;
}

.textarea:focus {
  border: 1px solid #000;
}

.imageContainer {
  width: 310px;
}

.label {
  color: #444;
  font-size: .875em;
  font-weight: 600;
  margin-right: 10px;
}

.checkboxWrapper {
  margin-bottom: 20px;
}

.encryption {
  margin-bottom: 20px;
  margin-top: 20px;
  display: flex;
}

/*-----------CHECKBOX------------*/

.checkbox {
  cursor: pointer;
  position: relative;
  margin: auto;
  width: 18px;
  height: 18px;
  -webkit-tap-highlight-color: transparent;
  transform: translate3d(0, 0, 0);
}

.checkbox:before {
  content: "";
  position: absolute;
  top: -2px;
  left: -6px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: rgba(117, 117, 117, 0.24);
  opacity: 0;
  -webkit-transition: opacity 0.2s ease;
  -moz-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}

.checkbox svg {
  position: relative;
  z-index: 1;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #eaeaea;
  stroke-width: 1.5;
  transform: translate3d(0, 0, 0);
  transition: all 0.2s ease;
}

.checkbox svg path {
  stroke-dasharray: 60;
  stroke-dashoffset: 0;
}

.checkbox svg polyline {
  stroke-dasharray: 22;
  stroke-dashoffset: 66;
}

.checkbox:hover:before {
  opacity: 1;
}

.checkbox:hover svg {
  stroke: #fc3074;
}

.checkboxReal {
  display: none;
}

.svg {
  stroke: #fc3074 !important;
}

.path {
  stroke-dashoffset: 60 !important;
  transition: all 0.3s linear !important;
}

.polyline {
  stroke-dashoffset: 42 !important;
  transition: all 0.2s linear !important;
  transition-delay: 0.15s !important;
}

.svgStyle {
  color: #444;
  font-size: .875em;
  font-weight: 600;
  vertical-align: middle;
  display: inline-block;
  height: 18px;
}

.labelRight {
  color: #444;
  font-size: .875em;
  font-weight: 600;
  margin-left: 10px;
  vertical-align: middle;
  display: inline-block;
}

/*-----------CHECKBOX END------------*/

/*----------RADIO BUTTON-----------*/

.radLabel {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: .3s;
}

.radInput {
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  height: 1px;
  opacity: 0;
  z-index: -1;
}

.radDesign {
  width: 18px;
  height: 18px;
  border-radius: 100px;
  background: linear-gradient(to right bottom, #fc3074, #971c45);
  position: relative;
}

.radDesign::before {
  content: '';
  display: inline-block;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  background: #eaeaea;
  transform: scale(1.1);
  transition: .3s;
}

.radInput:checked+.radDesign::before {
  transform: scale(0);
}

.radText {
  margin-left: 5px;
  transition: .3s;
  color: #444;
  font-size: .875em;
  font-weight: 600;
  margin-right: 10px;
}

/*----------RADIO BUTTON END-----------*/

@media only screen and (max-width: 800px) {
  .container {
    display: block;
  }

  .imageContainer {
    margin: auto;
    text-align: center;
  }
}
